body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #111010;
}

/* Calculator container */
.calculator {
    width: 350px;
    height: 95vh; 
    background-color: #5e5a759a;
    border-radius: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

/* Input display */
#result {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    background-color: white;
    padding: 15px;
    font-family: 'Courier New', monospace;
    border-radius: 10px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
}

#input-row {
    text-align: left;
    font-size: 1.2em;
    color: #555;
    overflow-x: auto;
    min-height: 1.5em;
    margin-bottom: 5px;
    word-wrap: break-word;
    word-break: break-all;
}

#output-row {
    text-align: right;
    font-size: 1.5em;
    font-weight: bold;
    color: #000; /* Dark color for output */
    overflow-x: auto;
    min-height: 1.5em;
    word-wrap: break-word;
    word-break: break-all;
}

/* Button grid */
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    margin-top: 10px;
}

/* Make the equal button span two columns */
button#equal {
    grid-column: span 1;
}

/* Button styling */
button {
    padding: 15px; /* Slightly increased padding for bigger buttons */
    font-size: 22px; /* Slightly larger font */
    background-color: #a2aaa3e5;
    color: white;
    border: none;
    border-radius: 8px; /* More rounded corners */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease; /* Smooth transitions */
}

button.function {
    background-color: #0a2333;
    font-size: 18px; /* Slightly smaller font for function buttons */
    font-weight: bold;
}

button.operator {
    background-color: #c8eb69;
}

button#equal {
   background-color: #e79a9a;
   font-size: 24px; /* Larger font size for equal button */
}

button:hover {
    background-color: white;
    color: #111010;
    transform: scale(1.1); /* Slight scaling effect on hover */
}

button:active {
    background-color: #2980b9;
    transform: scale(0.98); /* Slight shrink on click */
}
